// -------------------------------------------------------
// This file contains basic typography style for text.
// -------------------------------------------------------

.parsley-errors-list {
  color: #e74c3c;
}

input.parsley-error {
  color: #b94a48 !important;
  background-color: #f2dede !important;
  border: 1px solid #eed3d7 !important;
}
