
.home-page{
    .subtitle{
        position: relative;
        &::after{
            content: " ";
            position: absolute;
            display: block;
            height: 4px;
            width: 40%;
            left:50%;
            box-shadow: 5px 5px 15px $blue; 
            bottom: 5px;
            bottom: -5px;
            transform: translateX(-50%);
            @include border-radius(50%);
        }
    }

    .icon-box{
        width:120px;
        height: 120px;
        margin:auto;
        border: solid 1px $blue;
        position: relative;

        i{
            position: absolute;
            top:50%;
            left: 0;
            right: 0;
            transform: 	translateY(-50%);
            //color: $mulberry-dark;
        }
    }

.banner{
    height: 467px;
    padding: {
        top:80px;
        bottom: 80px;
    }

    &.first{
        background:transparent url("https://picsum.photos/1920/1279") no-repeat 0 0;
        background-size: cover;
        background-attachment: fixed;
    }
}
}

